body{
  background-color: #0c0c11;
}
h1, .chat-p{
  color: #ffffff;
}
.container{
  max-width: 62rem;
  height: 50rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  border: 1px solid rgba(255, 255, 255, 0.117);
  z-index: 999;
}
.btn{
  background: #5d00ff;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}
.btn:hover{
  outline: none !important;
  background: #0c153c;
  color: white;
}
.mode {
  float:right;
}
.change {
  cursor: pointer;
  border: 1px solid #555;
  border-radius: 40%;
  width: 20px;
  text-align: center;
  padding: 5px;
  margin-left: 8px;
}
.light{
  background-color: #ffffff;
  color: #2c2c2c !important;
}