:root{
  --btn-aqua: #00d6e1;
  --btn-yellow: #ffee00;
  --btn-indigo: #5d00ff;
  --btn-pink: #f42dff;
}
body{
  background-color: #111521;
  color: #ffffff;
}
.container{
  max-width: 62rem;
  height: 50rem;
  background: rgba(128, 123, 135, 0.15);
  border-radius: 16px;
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  border: 1.5px solid rgba(130, 130, 130, 0.3);
  cursor: pointer;
}
.container:hover{
  border: 1.5px solid rgba(130, 126, 173, 0.4);
  box-shadow: rgba(141, 129, 255, 0.2) 0px 7px 29px 0px;
}
.btn{
  background: var(--btn-indigo);
  color: #ffffff;
  outline: none !important;
  box-shadow: none !important;
}
.btn-aqua{
  background: var(--btn-aqua);
  color: #0c0c11;
}
.btn-indigo{
  background: var(--btn-indigo);
}
.btn-yellow{
  background: var(--btn-yellow);
  color: #0c0c11;
}
.btn-pink{
  background: var(--btn-pink);
}
.btn:hover{
  outline: none !important;
  background: rgba(134, 134, 134, 0.425);
  color: white;
}
.mode {
  float:right;
}
.change {
  cursor: pointer;
  border: 1px solid #555;
  border-radius: 40%;
  width: 20px;
  text-align: center;
  padding: 5px;
  margin-left: 8px;
}
.light{
  background-color: rgb(211, 211, 211);
  color: #2c2c2c !important;
}